body,
html {
  width: 100%;
  height: 100%;
}
   

.main{
    width: 100%;
    height: 100%;


   /* display: grid;
    justify-content: center;
  align-content: center;
    color: brown; */

}

/* .buffer{
   height:50%;
} */
.First{
height: 40%;
display: grid;
    justify-content: center;
  align-content: center;
    color: brown;
}

.second{
    height: auto();
    display: grid;
    justify-content: center;
  align-content: center;
    color: brown;
}